
.UsersPage--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.UsersPage--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  overflow: auto;
}

.UsersPage--list-item {
  display: flex;
  align-items: center;
  padding: 17px;
  padding-left: 0px;
  margin-left: 20px;
  border-bottom: rgb(242, 242, 242) 1px solid;
  flex-direction: row;
  width: calc(100% - 34px)
}

.UsersPage--Header {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 241, 241);
  font-weight: 600;
}
